body {
    max-width: 80%;
    font-family: 'Yusei Magic', sans-serif, 'Open Sans', sans-serif, 'Montserrat', sans-serif;
}

header {
    text-align: center;
    color: white;
    background-color: #b8111a;
    padding: 10px;
    margin: 25px;
}

footer {
    text-align: center;
    color: white;
    background-color: #b8111a;
    padding: 5px;
    margin: 25% 15px 15px;
    font-size: 105%;
}

main {
    max-width: 767px;
    margin-left: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    font-size: 0.8rem;
}

main section {
    margin: 0.5rem;
    border: 1px solid #bbb;
    padding: 30px 1rem;
    background-color: #eee;
    height: fit-content;
}

main section:nth-child(2) {
    margin: 0.5rem;
}

.card_img {
    width: 75%;
    height: 75%;
}