@media only screen and (min-width: 32.5em) {

    /* header {margin: 25px;} */

    footer {
        border-radius: 15px;
        padding: 10px;
        font-size: 105%;
        max-width: 90%;
        /* Top horizontal bottom */
        margin: 15% auto 2%;
    }

    main {
        font-size: 1rem;
    }

    nav ul li a {
        float: left;
        /* padding: 10px 15px; */
        font-size: 1.4rem;
        margin-left: 10%;
    }
    .navigation {
		display: flex;
	}
	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 auto;
    }
    
	.navigation li:first-child {
		display: none;
	}

    .logo {
        height: 175px;
        width: 175px;
    }

}