main {
    max-width: 80%;
    margin-left: auto;
    text-align: center;
    display: grid;
    grid-template-columns: 500px;
    font-family: 'Ubuntu', sans-serif;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th {
    background-color: #e7f0ed;
}

thead {
    background-color: #7fb9c2;
}