@media only screen and (min-width: 32.5em) {

    header {margin: 25px;}

    footer {
        border-radius: 15px;
        margin: 15% 15px 15px;
    }

    main {
        font-size: 1.2rem;
    }

    nav {
        padding: 10px 10px;
    }

    nav a {
        float: left;
        padding: 14px 20px;
        font-size: 105%;
    }

    footer {
        padding: 5px;
        font-size: 105%;
    }

    .logo {
        height: 175px;
        width: 175px;
    }

}