@media only screen and (min-width: 60em) {
    main {
        font-size: 1.3rem;
    }

    .logo {
        height: 200px;
        width: 200px;
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-gap: 15px;
    }

    section:nth-child(n) {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row: auto auto;
    }

    /* 2n does not work for these values 
    2 => 5 => 8 => 11*/
    section:nth-child(3n-1) {
        grid-column-start: 4;
        grid-column-end: 7;
        grid-row: auto auto;
    }

    section:nth-child(3n) {
        grid-column-start: 7;
        grid-column-end: 10;
        grid-row: auto auto;
    }

    
}