/* Nav formatting */
nav {
    overflow: hidden;
    /* first one lighter, second one slightly darker */
    background-color: #545454;
    /* background-color: #46494c; */
    top: 0;
}
.navigation {
	list-style: none;
	padding: 0;
}

.navigation li:first-child {
	display: block;
}

.navigation li {
	display: none;
}

.navigation a {
    display: block;
    color: white;
    text-align: center;
    padding: 8px 8px;
    text-decoration: none;
    font-size: 0.9rem;
}

.navigation a:hover {
    background-color: #ddd;
    color: black;
}

/* Change this later */
.navigation li a:active {
    background-color:pink;
}

.responsive li {
	display: block;
}


/* Non-nav styling */
body {
    /* max-width: 80%; */
    font-family: 'Yusei Magic', sans-serif, 'Open Sans', sans-serif, 'Montserrat', sans-serif;
}

main {
    text-align: left;
    margin-left: 5%;
    max-width: 90%;
    font-size: 0.8rem;
    background-color: #979b8d;
}


header {
    /* display: block; */
    padding: 10px;
    margin: 0;
    background-color: rgba(168, 162, 162, 0.918);
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
}


footer {
    flex-flow: column;
    text-align: center;
    display: flex;
    background-color: #545454;
    padding: 5px;
    font-size: 0.9rem;
    margin-top: 0;
    color: white;
}

footer p {
    margin: 5px;
}

section {
    background-color: rgba(168, 162, 162, 0.918);
    margin: 10px;
    color: black;
    text-align: center;
}

img {
    height: auto;
    width: 30%;
}

.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-rows: repeat(9, 1fr); */
    grid-gap: 15px;
}

section:nth-child(n) {
    grid-column-start: 1;
    grid-column-end: 3;
}